<div class="row">
  <% if @events.empty? %>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          開催予定のイベントはありません。
        </div>
      </div>
    </div>
  <% else %>
    <% @events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <%= link_to '開催済み', events_pasts_path, class: 'btn btn-default' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>国東半島来ちょくれ倶楽部・イベント</h2>
    <p>国東来ちょくれ倶楽部の会員同士でイベントを企画しましょう</p>
    <p>国東半島来ちょくれ倶楽部の会員さん自身が自分でイベントを
    　　企画していくサイトです。
    　　国東半島を盛り上げるために、楽しい企画を皆さんで盛り上げて行きませんか❔(まずは、会員登録)
    </p>
  </div>

<div class="col-md-6">
  <h2>こんなことやります。</h2>
  <p>・海鮮盛りだくさんバーベキュー</p>
  <p>・グルメツアースペシャル</p>
  <p>・ハイキングに行きませんか❔</p>
  <p>・スキーでもいきましょ</p>
</div>
</div>
